@use "vars";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #1b1b1b;
    color: whitesmoke;
    min-height: 100vh;


    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "bottombar";



    .header {
        grid-area: header;
        
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: vars.$bodypadding;
        background: rgb(44, 44, 44);

        .logo {
            height: 1rem;
        }

        h1 {
            font-size: 1rem;
            line-height: 1rem;
            padding: 0;
            margin: 0;
            margin-top: 4px;
        }

        .settings {
            margin-left: auto;
            height: 1rem;
        }

    }

    .main {
        grid-area: main;
        padding-top: 2rem;
        padding-left: vars.$bodypadding;
        padding-right: vars.$bodypadding;
        padding-bottom: 4rem;
    }

    .bottomBar {
        grid-area: bottombar;
        padding: 0.5rem vars.$bodypadding;
        font-size: 0.8rem;
        background: black;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .leftPane {
        width: 75%;
    }

    .rightPane {
        width: 25%;
    }

}