
// .transactionsPage {
//     display: flex;
// }

.filterButton{
    display: flex;
    align-items: baseline;
}

.lucide {
    height: 1.2rem;
}

.filterIcon {
    margin-top: -2px;
    margin-left: -8px;
}


.filtersSection {
    margin-top: 1rem;
}